{% extends 'base.html.twig' %}

{% block title %}Listes des Artistes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Artistes : <a href="{{ path('app_artist_create') }}">Créer</a> </h1>
    <ul>
        {% for artist in artists %}
            <li><a href = "{{ path('app_artist_one', {id: artist.id}) }}">{{ artist.name }} </a>
                | <a href="{{ path('app_artist_edit', {id : artist.id}) }}">Modifier</a>
                | <a href="{{ path('app_artist_delete',{id : artist.id}) }}">Supprimer</a></li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
