{% extends 'base.html.twig' %}
{% block title %}Création d'un Artiste{% endblock %}

{% block body %}
    <h1>Créer un Artiste</h1>

    {{ form_start(form) }}
    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div>
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <div>
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
    </div>

    <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
