{% extends 'base.html.twig' %}

{% block title %}Modifier un événement{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Créer un événement</h1>

        {{ form_start(form) }}
        <div class="form-group">
            <label for="{{ form.name.vars.id }}" class="form-label">Nom de l'événement</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            <label for="{{ form.date.vars.id }}" class="form-label">Date de l'événement</label>
            {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.date) }}
        </div>

        <div class="form-group">
            <label for="{{ form.artist.vars.id }}" class="form-label">Artiste</label>
            {{ form_widget(form.artist, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.artist) }}
        </div>

        <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}