<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_artist_all') }}">Artiste</a></li>
            <li><a href="{{ path('app_event_all') }}">Evènement</a></li>
            {% if app.user %}
                <li><a href="{{ path('app_user_events') }}">Mes évenements</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnecter</a></li>

            {% else %}
                <li><a href="{{ path('app_logout') }}">Connecter</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
